name: Deploy website on push

on:
  push:
    branches:
      - main

jobs:
  web-deploy:
    name: Deploy
    runs-on: ubuntu-latest

    steps:
    - name: Get latest code
      uses: actions/checkout@v3

    - name: Deploy to Main Server
      if: github.ref == 'refs/heads/main'
      uses: SamKirkland/FTP-Deploy-Action@v4.3.4
      with:
        server: ftp.smchctgbd.com
        username: school@demo2.smchctgbd.com
        password: ${{ secrets.FTP_PASSWORD }}
        server-dir: /
        # protocol: ftps
        # port: 21
        # retries: 3
